.navbar .brand-logo {
	font-size: 1.5rem;
}

.brand-title {
	padding-left: 20px;
	border-left: 1px solid #78C3FE;
	margin-left: 20px;
}
.brand-link {
    margin-left: 20px;
	font-weight: 300;
}
.navbar {
	position: fixed;
    z-index: 999;
}
.navbar .menu-icon {
	font-size: 1.6rem;
}